*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: url("Background-image3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box{
    width: 75%;
    height: 86vh;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    padding: 20px 60px;
    
}

.search, .submit{
    border: 1px white solid;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
}
.search{
    width: 480px;
    padding: 10px;
    border-radius: 10px;
}
.submit{
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: white;
    color: #452c63;
    cursor: pointer;
}
.current-weather{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.icon{
    font-size: 80px;
    color: gold;
    align-items: center;
}
.weather-info{
    color: white;
    line-height: 1.6;
    font-size: 1.5rem;
}
hr{
    font-size: 1px;
    color: rgba(0,0,0,0.5);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.date{
    color: rgba(255, 255, 255, 0.5);
}

.air-conditions{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}
.chances-rain{
    margin-top: 10px;
}
.uv-index{
    margin-top: 15px;
}

.air-conditions P{
    color: rgba(255, 255, 255, 0.5);
}
.air-conditions strong{
    color: white;
}
.air-conditions span{
    font-size: 1.4rem;
}