*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: url("Background-image3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box{
    width: 75%;
    height: 86vh;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    padding: 20px;
    
}

.search, .submit{
    border: 1px white solid;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
}
.search{
    width: 480px;
    padding: 10px;
    border-radius: 10px;
}
.submit{
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: white;
    color: #452c63;
}